{% extends 'base.html'%} {% block content %}

<div class="container mt-4">
    <h5>Preferred Currency</h5>
    {% include 'partials/_messages.html' %}
    <form action="{% url 'preferences'%}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <select name="currency" class="custom-select" id="inputGroupSelect04">
                {% if user_preferences.currency%}
                <option name="currency" selected value="{{user_preferences.currency}}">{{user_preferences.currency}}
                </option>
                {% endif %} {% for currency in currencies %}

                <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} -
                    {{currency.value}}
                </option>

                {% endfor %}
            </select>
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>
<div class="container mt-5">
    <h5 class="mt-5">Your Current Daily Expense Limit is : <b> ₹{{daily_expense_limit}} </b></h5>
    <h5>Your Current Monthly Expense Limit is : <b> ₹{{monthly_expense_limit}} </b></h5>
    <form action="{% url 'preferences' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h5> <label for="daily_expense_limit_input">Set Daily Expense Limit</label></h5>
                <input type="number" class="form-control" id="daily_expense_limit_input"
                    aria-describedby="expenseLimitHelp"
                    placeholder="Enter daily Expense Limit"
                    name="daily_expense_limit"
                    value="{{daily_expense_limit}}"
                    min="0"
                    max="999999"
                    required>
                <small id="expenseLimitHelp" class="form-text text-muted">Enter zero or a positive number for your daily spending limit.</small>
            </div>
            <div class="form-group">
                <h5> <label for="monthly_expense_limit_input">Set Monthly Expense Limit</label></h5>
                <input type="number" class="form-control" id="monthly_expense_limit_input"
                    aria-describedby="monthlyExpenseLimitHelp"
                    placeholder="Enter monthly Expense Limit"
                    name="monthly_expense_limit"
                    value="{{monthly_expense_limit}}"
                    min="0"
                    max="9999999"
                    required>
                <small id="monthlyExpenseLimitHelp" class="form-text text-muted">Enter zero or a positive number for your monthly spending limit.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <hr />
{% endblock %}